---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_MAIN_TITLE, SITE_DESCRIPTION } from '../config';
import { getCollection } from 'astro:content';

let posts = await getCollection('blog')
posts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
<head>
<BaseHead title={'Articles - ' + SITE_TITLE} description={SITE_DESCRIPTION} />
<style>
section{
	max-width: var(--article-width);
	display: grid;
	gap: 20px;
}
article{
	display: block;
	box-sizing: border-box;
	min-height: 140px;
	padding:20px;
	border-radius: 20px;
	background:rgba(var(--text), .025);
	transition: all .2s ease-in-out;
	border:1px solid transparent;
}
article h2{
	margin:0;
	font-size: 1.5em;
}
article time{
	font-size: 0.9em;
	opacity: 0.7;
}
article:hover{
	background:rgba(var(--text), .045);
	border:1px solid rgba(var(--text), 0.1)
}
article a:after{
	display:none;
}
</style>
</head>
<body class="dark blog">
	<Header title={SITE_MAIN_TITLE} />
	<main>
		<header class="article-header">
			<div class="container">
				<div class="page-title">
					<h1>Articles</h1>
					<h2>Explore Insights, Ideas, and Knowledge</h2>
				</div>
			</div>
		</header>

		<div class="container">
			<section>
				{posts.map((post) => (
					<article>
						<h2><a href={`./blog/${post.slug}`}>{post.data.title}</a></h2>
						<time datetime={post.data.pubDate}>
							{new Date(post.data.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}
						</time>
						<p>{post.data.description}</p>
					</article>
				))}
			</section>
		</div>
	</main>
	<Footer />
</body>
</html>
