---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_MAIN_TITLE, SITE_DESCRIPTION } from '../config';

const blogPosts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(0, 6);

const projects = (await Astro.glob('./projects/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<style>
.intro h1{
	animation-name: a1;
	animation-duration: .6s;
	animation-timing-function: ease-out;
}
@keyframes a1 {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	10% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.intro p{
	animation-name:a2;
	animation-duration: .8s;
	animation-timing-function: ease-out;
}
@keyframes a2 {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	30% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.intro figure{
	animation-name: a3;
	animation-duration: .5s;
	animation-timing-function: ease-out;
}
.intro figure img{
	height:90%;
}
@keyframes a3 {
	from {
		opacity: 0;
		transform: scale(0.9)
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.posts{
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.posts>div{
	flex: 1;
}
.posts h2{
	margin-top: 0;
}
.posts time{
	color:rgba(var(--text), .6);
	font-size: .7em;
}
.posts hr{
	display:none
}
@media (max-width: 768px) {
	.posts{
		flex-direction: column;
		gap:0;
	}
	.posts>div{
		flex: none;
	}
	.posts hr{
		display:block
	}
	.blocks p{
		display:none
	}
}
.blocks{
	display: grid;
	gap: 20px;
}
.blocks a{
	display: block;
	box-sizing: border-box;
	min-height: 140px;
	padding:20px;
	border-radius: 20px;
	background:rgba(var(--text), .025);
	transition: all .2s ease-in-out;
	border:1px solid transparent;
}
.blocks a:after{
	display:none;
}
.blocks a:hover{
	background:rgba(var(--text), .045);
	border:1px solid rgba(var(--text), 0.1)
}
.blocks article h3{margin:0}
.blocks article p{
	margin:10px 0 0;
	color:rgba(var(--text), .8);
	font-size:.85em;
	line-height:1.3em;
}
.projects a{
	padding:0;
	overflow:hidden;
}
.projects img{
	width:100%;
	aspect-ratio: 7/4;
	background:rgba(var(--text), .1);
	object-fit: cover;
	opacity: .8;
	transition: all .1s ease-in-out;
}
.projects a:hover img{
	opacity: 1;
}
.projects article{
	padding:20px
}
</style>
</head>
<body class="dark home">
	<div class="animated-bg"><canvas id="canv" width="32" height="32"></canvas></div>
	<Header title={SITE_MAIN_TITLE} />
	<main>
		<div class="container">
			<div class="intro">
				<div>
					<h1>Crafting Digital Experiences!</h1>
					<p>I'm a skilled web developer in both back-end and front-end with over 8 years of experience in PHP, MySQL, Javascript, NodeJS, Express, REST-APIs, HTML, and CSS. I also have a keen eye for design and am proficient with Figma, and Photoshop. I have extensive experience in WordPress development, including building custom themes and plugins. Let's collaborate on your next project!</p>
				</div>
				<figure>
					<img src="assets/reza.jpg" alt="Reza Zahedi in NYC">
					<figcaption>Photo by Gary Gelb - NYC, Nov 2011</figcaption>
				</figure>
			</div>

			<hr class="dotted" />

			<div class="posts">
				<div>
					<h2>Posts</h2>
					<div class="blocks">
						{blogPosts.map((post) => (
							<a href={post.url}>
								<article>
									<h3>{post.frontmatter.title}</h3>
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
									<p>{post.frontmatter.description}</p>
								</article>
							</a>
						))}
					</div>
				</div>
				<div>
					<hr class="dotted" />
					<h2>Projects</h2>
					<div class="blocks projects">
						{projects.map((post) => (
							<a href={post.url}>
								<img src={post.frontmatter.image} alt={post.frontmatter.title} />
								<article>
									<h3>{post.frontmatter.title}</h3>
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</article>
							</a>
						))}
					</div>
				</div>
			</div>
		</div>
	</main>
	<Footer />
</body>
</html>
<script>
// Stripe Website Gradient Animation:
// https://codepen.io/smitpatelx/pen/GRZayyO

var c = document.getElementById('canv');
var $ = c.getContext('2d');

var col = function(x, y, r, g, b) {
	$.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
	$.fillRect(x, y, 10,10);
}
var R = function(x, y, t) {
	return( Math.floor(192 + 64*Math.cos( (x*x-y*y)/300 + t )) );
}

var G = function(x, y, t) {
	return( Math.floor(192 + 64*Math.sin( (x*x*Math.cos(t/4)+y*y*Math.sin(t/3))/300 ) ) );
}

var B = function(x, y, t) {
	return( Math.floor(192 + 64*Math.sin( 5*Math.sin(t/9) + ((x-100)*(x-100)+(y-100)*(y-100))/1100) ));
}

var t = 0;

var run = function() {
	for(let x=0;x<=35;x++) {
		for(let y=0;y<=35;y++) {
			col(x, y, R(x,y,t), G(x,y,t), B(x,y,t));
		}
	}
	// Change 0.04 to greater value to speedup the gradient animation.
	t += 0.04;
	window.requestAnimationFrame(run);
}
run();
</script>