---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_MAIN_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./projects/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
<head>
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<style>
section{
	display: grid;
	gap: 20px;
	grid-column: 2;
	grid-template-columns:1fr 1fr;
}
article{
	display: block;
	box-sizing: border-box;
	min-height: 140px;
	border-radius: 20px;
	background:rgba(var(--text), .025);
	transition: all .2s ease-in-out;
	border:1px solid transparent;
	overflow: hidden;
}
article img{
	width: 100%;
	aspect-ratio: 7/4;
	background:rgba(var(--text), .1);
	object-fit: cover;
	opacity: .8;
	transition: all .1s ease-in-out;
}
article:hover img{
	opacity:1;
}
article div{
	padding: 20px;
}
article h2{
	margin:0;
	font-size: 1.5em;
}
article time{
	font-size: 0.9em;
	opacity: 0.7;
}
article:hover{
	background:rgba(var(--text), .045);
	border:1px solid rgba(var(--text), 0.1)
}
article a:after{
	display:none;
}
</style>
</head>
<body class="dark projects">
	<Header title={SITE_MAIN_TITLE} />
	<main>
		<header class="article-header">
			<div class="container">
				<h1>Projects</h1>
			</div>
		</header>

		<div class="container">
			<section>
				{posts.map((post) => (
					<article>
						<a href={post.url}><img src={post.frontmatter.image} alt={post.frontmatter.title} /></a>
						<div>
							<h2><a href={post.url}>{post.frontmatter.title}</a></h2>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<p>{post.frontmatter.description}</p>
						</div>
					</article>
				))}
			</section>
		</div>
	</main>
	<Footer />
</body>
</html>
